@import url(https://fonts.bunny.net/css?family=roboto:400,400i,700);

:root {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(../images/water.jpg);
}

.tile-list {
    display: flex;
    flex-wrap: wrap;
    width: 42.7rem;
    gap: .3rem;
}

.tile {
    flex: 0 0 auto;

    box-sizing: border-box;
    width: 4rem;
    height: 4rem;
    border: solid 1px black;
    border-radius: 5px;
}

.tile.neutral {
    background-color: transparent;
}

.tile.hit {
    background-color: red; /* TODO: Adjust color */
}

.tile.miss {
    background-color: blue; /* TODO: Adjust color */
}

.tile.ship {
    background-color: gray; /* TODO: Adjust color */
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.labeled-game-board-list {
    display: flex;
    justify-content: center;
    gap: 3rem;
}